{{#root}}
package {{javaPackage}}

{{#services}}
import {{serviceTypeName}}Grpc._
{{/services}}


trait GrpcClient {

{{#services}}
    val {{serviceName}}: {{serviceTypeName}}
{{/services}}

}

{{/root}}